*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.logo
{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: green;
}
#a
{
    float: right;
}
.nav_container
{
    display: flex;            
    border: 1px solid #111; 
    justify-content: center;
    align-items: center;
    flex-grow: 4;
}
.nav
{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    float: top;
    border: 1px solid;
}
.nav_title
{
    color:#fff;
}
.box
{
    color: #fff;
    float: left;
}
.hs
{
    background-image: url(img/cook5.jpg);
    height: 100px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
}
.box > .box1
{
    background-image: url(img//cook1.jpg);
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.box > .box2
{
    background-image: url(img/cook4.jpg);
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.box > .box3
{
    background-image: url(img/cook2.jpg);
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.hr1
{
    background-color: #fff;
    height: 600px;
    display: grid;
    grid-template-columns: 200px 200px;
}
.hr2
{
    background-image: url(img/cook6.jpg);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}