*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    font-size:30px; 
    border-bottom: 1px solid rgb(0, 0, 0); 
    width:100%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header-box{
    width:80%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'GimpoGothicRegular00';
}
.header-box a{
    color: rgb(0, 0, 0);
}
.logo{
    position: relative;
}
.logo h1{
    font-size:55px;
}
.nav ul{
    display:flex;   
}
.nav li:first-child{
    margin-right: 35px;
}
.join span:first-child{
    margin-right: 10px;
}
.join span{
    cursor: pointer;
    font-size:25px;
    border: 1px solid black;
    padding: 10px 10px;
}